
.bookmark-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 21px;
}

.bookmark-btn svg {
  color: white;
  stroke: black;
  stroke-width: 23px;
  margin-left: 38px;
}

.bookmarked svg {
  color: white; /* Keeps inside white */
  stroke: black; /* Keeps the border black */
  stroke-width: 2px; /* Adjusts thickness of the border */
}

.bookmark-btn:hover svg {
  stroke: black;
  color: white;
}
